#square {
    display: block;
    float: left;
    width: 160px;
    height: 160px;
    background: #009999;
    margin: 10px;
}

@font-face
{
font-family: "ARCANE_Regular";
src: url('ARCANE_Regular.otf'),
url('ARCANE_Regular.eot'); /* IE9 */
}

body {
	background-color: #FFCC99;
	color:white;
	margin:0;
	padding:0;
}

.container {
	position: relative;
	margin: auto;
	width: 950px;
	height:2100px;
	background-color: #B28F6B;
}
#noteContainer{
	height: 375px;
	margin-top: 92px;
	background-color: gray;
}
#choreContainer{
	height: 375px;
	margin-top: 70px;
	background-color: green;
}
#enterContainer{
	height: 375px;
	margin-top: 70px;
	background-color: green;
}

#fbContainer {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
}

.insideContainer{
	position: relative;
	width: 911px;
	margin-left: 21px;
	margin-right: 21px;
	z-index: 1;
}
#fullScreenBlock{
	position: absolute;
	top: 0px;
	width: 1879px;
	height: 229px;
	background-color: #FFCC99;
	z-index: 1;
	
}

#logo{
	position: relative;
	top: 0px;
	margin: auto;
	width: 474px;
	height: 422px;
	z-index: 2;
}

#addChoreButton {
	width: 50px;
	height: 50px;
	background: #FF3333;
	color: #FFFFFF;
	text-decoration: none;
}
#saveChoreButton {
	width: 50px;
	height: 50px;
	background: #33ADD6;
	color: #FFFFFF;
	text-decoration: none;
}
#addChoreScreen{
	display: none;
	width: 300px;
	height: 300px;
	background: #FF3333;
	color: #FFFFFF;
	z-index: 3;
}
