#square {
    display: block;
    float: left;
    width: 160px;
    height: 160px;
    background: #009999;
    margin: 10px;
}

@font-face
{
font-family: "ARCANE_Regular";
src: url('ARCANE_Regular.otf'),
url('ARCANE_Regular.eot'); /* IE9 */
}

body {
	background-color:white;
	color:white;
	margin:0;
	padding:0;
}

.container {
	position: relative;
	margin: auto;
	width: 950px;
	height:1600px;
	background-color: #CC00FF
;
}
#noteContainer{
	height: 375px;
	margin-top: 92px;
	background-color: gray;
}
#choreContainer{
	height: 375px;
	margin-top: 70px;
	background-color: green;
}

.insideContainer{
	position: relative;
	width: 911px;
	margin-left: 21px;
	margin-right: 21px;
	z-index: 1;
}
#fullScreenBlock{
	position: absolute;
	top: 64px;
	width: 100%;
	height: 220px;
	background-color: black;
	z-index: 1;
	
}
#logo{
	position: relative;
	top: 28px;
	margin: auto;
	width: 211px;
	height: 188px;
	background-color: blue;
	z-index: 2;
}
