!!! 5
html(lang="en")
  head
    title= title
    // css
    link(rel="stylesheet", href="/css/style.css")
    
    // js
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='js/main.js', type='text/javascript')
    script(src='http://www.parsecdn.com/js/parse-1.2.12.min.js')
    link(rel='stylesheet', media='screen and (min-width: 701px)', href='medium.css')
    
    script
      $(document).ready(function (){
      $("#navmenu").click(function (){
      $('html, body').animate({
      scrollTop: $("#sqaure").offset().top
      }, 2000);
      });
      });

      function saveChore(){
        var chore_name = $('#choreName').val();
        var desc = $('#desc').val();
        var user_id = $('#userId').val();
        var due_date = $('#datepicker').val();
        var c = new Chore();
        c.save({name: chore_name, description: desc, user_id: user_id, due: due_date}, {
          success: function(object) {
          }
        });
      }

      $(function() {
          $("#datepicker").datepicker();
      });

      function fillUnassignedChores(){
          var query = new Parse.Query(Chore);
          query.equalTo("user_id", "0");
          query.find({
            success: function(object) {
              console.log(object);
              for(var i = 0; i < object.length; ++i){
                var a = object[i].attributes;
                var s = $('<div class="square">'+a.name+'<br/>'+a.description+'<br/>Due: '+a.due+'</div>');
                $('#noteContainer').append(s);
              }
            },
            error: function(error) {
              console.log("error");
              alert("Error: " + error.code + " " + error.message);
            }
          });
      }
      
  body
    #fbContainer
      fb:login-button(show-faces='true', width='200', max-rows='1')
    #fullScreenBlock
      img(src="/img/HSHwallpaper.png")
    .container
      #logo
        img(src="/img/HSHLogo.png")
      .insideContainer
        #noteContainer
          for i in range (10)
            #square
        #choreContainer 
          img(src="/img/HSHChore.png")
        #userContainer
          img(src="/img/HSHhousemates.png")
        #enterContainer
          #addChoreScreen
            | Chore:
            input#choreName(type='text', name='choreName')
            br
            | Description
            textarea#desc(rows='4', cols='34')
            br
            | User:
            select#userId
            option(value='') None
            option(value='1') Connie
            option(value='2') Chelsea
            option(value='3') Molly
            option(value='4') Cassie
            br
            | Due date:
            input#datepicker(type='text')
            br
            #saveChoreButton
              a(href='javascript:saveChore();') Save Chore
    
    #fb-root
    script
      Parse.initialize("z6P8IOkO4St5TOQirnnjYKrTDe8kkT8Do9QH9ctI", "8rzgUjXdikempNizygTr0Qde54VgbY7ebcBS7nWX");
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '725077970852368', 
      channelUrl : 'http://www.our-haus-duties.herokuapp.com/', 
      status     : true, 
      cookie     : true, 
      xfbml      : true  
      });
     
      FB.Event.subscribe('auth.authResponseChange', function(response) {
        if (response.status === 'connected') {
          testAPI();
        } else if (response.status === 'not_authorized') {
          FB.login();
        } else {
          FB.login();
        }
      });
      };

      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

      function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
        var HausUser = Parse.Object.extend("HausUser");
        var user = new HausUser();
        user.set("name", response.name);
        user.set("userid", response.id);
        user.set("house", 0);
          user.save(null, {
            success: function(user){
              console.log('New user ' + user.get("name") + ' created!');
            },
            error: function(user, error){
              console.log('ERROR');
            }
          });

      });
      }

      function getTasks(){
        var Chores = new Array();
        var Chore = Parse.Object.extend("Chore");
        var query = new Parse.Query(Chore);
        query.equalTo("user_id", "");
        query.first({
          success: function(object) {
            Chores.push(object);
          },
          error: function(error) {
            alert("Error: " + error.code + " " + error.message);
          }
        });
      }



