!!! 5
html(lang="en")
  head
    title= title
    // css
    link(rel="stylesheet", href="/css/style.css")
    
    // js
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js", type='text/javascript')
    script(src="js/main.js", type='text/javascript')
      
  body
    .container
      h1.title= title
      h3= text
    #container 
      for i in range (10)
        .square


