!!! 5
html(lang="en")
  head
    title= title
    // css
    link(rel="stylesheet", href="/css/style.css")
    
    // js
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js", type='text/javascript')
    script(src="js/main.js", type='text/javascript')
      
  body
    .container
      h1.title= title
    #container 
      for i in range (10)
        .square
    #fb-root
  script
    window.fbAsyncInit = function() {
    Parse.FacebookUtils.init({
    appId      : '725077970852368', // Facebook App ID
    channelUrl : 'http://www.our-haus-duties.herokuapp.com/',
    status     : true, // check login status
    cookie     : true, // enable cookies to allow Parse to access the session
    xfbml      : true  // parse XFBML
    });
 
  // Additional initialization code here
};
      
    fb:login-button(show-faces='true', width='200', max-rows='1')


