!!! 5
html(lang="en")
  head
    title= title
    // css
    link(rel="stylesheet", href="/css/style.css")
    
    // js
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js", type='text/javascript')
    script(src="js/main.js", type='text/javascript')
    script(src='http://www.parsecdn.com/js/parse-1.2.12.min.js')
      
  body
  	h1 HI